
body {
  margin: 0;
  font-family: 'Poppins', sans-serif; 
  background-color: #f5f5f5; 
  margin: 0;
  padding: 20px;

}

header {
  background-color: #333; /* Fondo oscuro */
  padding: 15px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para mayor profundidad */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Centra el menú */
  gap: 30px; /* Espacio entre los elementos del menú */
}

nav li {
  display: inline;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 600; /* Negrita ligera para mayor claridad */
  transition: color 0.3s ease;
}

nav a:hover {
  color: #258cfb; /* Azul al pasar el cursor */
}


.footer {
  background-color: #333; /* Fondo oscuro */
  color: white; /* Texto blanco */
  text-align: center; /* Centra el texto */
  padding: 10px 20px; /* Espaciado interno */
  position: fixed; /* Fijo en la parte inferior */
  bottom: 0; /* Posicionado al fondo */
  width: 100%; /* Abarca todo el ancho */
  font-size: 0.9rem; /* Tamaño de fuente un poco más pequeño */
}

.footer a {
  color: #258cfb; /* Color azul para enlaces */
  text-decoration: none; /* Sin subrayado */
  transition: color 0.3s ease; /* Transición suave al pasar el cursor */
}

.footer a:hover {
  color: white; /* El enlace cambia a blanco al pasar el cursor */
}


button, input {
  margin: 10px 0;
  padding: 10px;
  font-size: 1rem;
}